.bossContainer {
    width: auto;
    height: 920px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    
}

#win {
        

    width: 100%;
    height: 950px;
    z-index: -1;
    position: absolute;
    

}

.headerContainer {
    width: 100vw;
    height: 5%;
    border: 0px solid blue;
    display: flex;
    flex-direction: row; 
}

    .navBar {
    height: 100%;
    width: auto; 
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    
    }
        .aboutNav {
           
            border-right: 2px solid rgba(255, 255, 255, 0.904);
            width: 100%;
            margin: auto;
            font-size: 26px;
            
            
        }

        .aboutNav:hover {
            font-style: italic;
            color: #008CBA;
        }

.aboutContainer {
    width: 99%;
    height: 40%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row; 
    align-items: center;
    /*margin-left: 8%;*/
    justify-content: space-around;
}

    .aboutImage {
        height: 100%;
        width: 50%; 
        display: flex;
        margin: auto;
        /* border: 2px solid blue; */ 
    }
    .aboutImage img {
        height: 90%;
        width: 90%;
    }
    
    #text {
        height: 50%;
        width: 45%; 
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;

    }
.aboutImage p {
    font-family: Chalkduster, fantasy;
}

.galleryContainer {
    width: 65%;
    min-width: 280px;
    height: 40%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: auto auto auto 4%;
}

/* .photoContainer {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    
} */

.photoColumns {
    width: 33%;
    height: 50%;
    /* border: 2px solid blue; */
    flex-direction: row; 
    align-items: center;
    margin: auto;
    overflow: hidden;



}

#photo {
    width: 100%;
    height: 100%;
    border-radius: 99%;
}


    .photos {
        width: auto;
        height: 50%;
        /* border: 2px solid blue; */
        text-align: center;
        margin: auto;
    
        
    }


.linksContainer {
    width: 99%;
    height: 10%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row; 
}

    .links {
        height: 100%;
        width: 50%; 
        margin: auto;
        /* border: 2px solid blue; */  
    }

.footerContainer {
    width: 99%;
    height: 5%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row; 
    

}

.socialMedia {
    height: 100%;
    width: 10%; 
    margin: auto auto auto auto;
    /* border: 2px solid blue; */ 
    display: flex;
    flex-direction: row; 
    min-width: 80px;
   
    

    
    
}

.socialMediaColumns {
    width: 33%;
    height: 50%;
    /* border: 2px solid blue; */
    flex-direction: row; 
    align-items: center;
    margin: auto;
    border-radius: 90%;
    overflow: hidden;
    padding: 3%;


} 

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    /*position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 90%;
    color: white;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .photoColumns:hover 
    .overlay {
    opacity: 1;
    align-items: center;
  }

  .photoColumns:hover #photo {
      
      transition-delay: 2s;
      display: none;
      
  }
